
asgiref = "*"
"autopep8" = "*"
dj-database-url = "*"
gunicorn = "*"
pycodestyle = "*"
python-decouple = "*"
pytz = "*"
sqlparse = "*"
toml = "*"
whitenoise = "*"
Django = "*"
Unipath = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
neattext = "*"
django-crispy-forms = "*"
bokeh = "*"
python_version = "*"